#about {
    padding: 70px 0;
    .about-head {
        text-align: center;
        h3 {
            font-size: 35px;
            font-family: 'Raleway', sans-serif;
            padding: 0 150px;
        }
    }
    .about-text {
        padding: 70px 0 0 0;
        p {
            font-family: 'Raleway', sans-serif;
            line-height: 30px;
        }
    }
}
